@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Mulish', sans-serif;
}

.navbar-brand{
  font-size: 1.9rem !important;
  font-weight: 500;
  letter-spacing: 1px;
}

.active{
  font-weight: bold !important;
  color: #6C63FF !important;
}

.navbar a:hover{
  color: #6C63FF !important;
}

#header{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header h1{
  font-size: 38px;
  margin: 0 0 10px 0;
  font-weight: 500;
  color: black;
}

#header .brand-name{
  color: #6C63FF;
}

#header h2{
  font-size: 20px;
  color: #484848;
}

#header .get-started-btn{
  font-size: 14px;
  padding: 8px 22px;
  border: 2px solid #6C63FF;
  color: #6C63FF;
  border-radius: 50px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 500;
  display: inline-block;
  transition: all 0.5s ease;
}

#header .get-started-btn:hover{
  background-color: #6C63FF;
  color: #fff;
}

#header .grow-img{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  from{
    transform: translateY(10px);
  }to{
    transform: translateY(-10px);
  }
}

.card-img-top{
  height: 35vh;
  object-fit: cover;
}

#contact, #services {
  width: 100%;
  min-height: 75vh;
  margin-top: 15vh;
}
#contact form h1{
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: .6rem;
}

#contact .form-group input{
  border: none;
  outline: none !important;
  padding: 12px 48px;
  border-radius: 50px;
  background-color: #E6E6E6;
  font-weight: bold;
  position: relative !important;
}

#contact .form-group{
  position: relative;
}


#contact .form-group .input-icon{
  position: absolute;
  top: 28%;
  left: 5%;
  font-size: 20px;
  z-index: 9999;
  color: #AAAAAA;
}



#contact .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AAAAAA;
  opacity: 1; /* Firefox */
}

#contact .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #AAAAAA;
}


#contact .form-group textarea{
  background-color: #E6E6E6;
  padding: 12px 22px;
  border-radius: 20px;
  font-weight: bold;
}

#contact .send-btn{
  background-color: #6C63FF;
  color: #f1f1f1;
  padding: 12px 0px;
  border-radius: 50px;
  outline: none;
  border: none;
  transition: all 0.5s ease ; 
  font-weight: bold;
}

#contact .send-btn:hover{
  background-color: #484848;
}


@media  screen and (max-width: 768px) {

  #header h1{
    font-size: 27px;
    margin: 0 0 10px 0;
    font-weight: 500;
    color: black;
  }

  #header h2{
    font-size: 19px;
  }
  

  #contact, #services {
    margin-top: 12vh;
  }

  #contact .form-group textarea{
    padding: 12px 18px;
  }

  #contact .form-group .input-icon{
    top: 28%;
    left: 8%;
    font-size: 20px;
  }
  
}
